@-ms-viewport{
  width: device-width;
}
html {
  /*font-family: "Roboto", sans-serif;*/
  font-weight: 300;
}

nav, .navbar-fixed {
  /*position: fixed;*/
  height: 150px !important;
  margin-bottom: 50px;
}
 /*{
  height: 200px;
}*/
.nav .add {

  line-height: 110px !important;
}

.nav-wrapper {
  padding-bottom: 30px;
}
.collection .collection-item {
  height: 2.5em ;
  padding-bottom: - 33px;
}

.team {
  font-size: 40px;
}
.teams {
  font-size: 25px;
}
.link:hover{
  cursor: pointer;
}
.tabs .tab a.active, .tabs .tab a:hover, .tabs .tab a{
  color:#43A047 !important;
}
