html{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

nav {
  height: 150px !important;
  margin-bottom: 50px;
}
.nav .add {

  line-height: 110px !important;
}



nav i.material-icons {
  font-size: 60px !important;
}

.nav-wrapper {
  padding-bottom: 30px;
}
.collection .collection-item {
  line-height: 5em ;
}

.team {
  font-size: 25px;
}

span.badge {
  font-size: 2em !important;
  float: inherit !important;
}
.link:hover{
  cursor: pointer;
}
.tabs .tab a.active, .tabs .tab a:hover, .tabs .tab a{
  color:#43A047 !important;
}

.tabs .tab .indicator {
  background-color: #43A047 !important;
}
